@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --btn-size: 4rem;
  --gap: calc(var(--btn-size) * 0.25);
  --backgorund-color: #1d2021;
  --text-color: #fbf1c7;
  --main-color: #98971a;
  --main-color-5: hsla(60, 71%, 35%, 0.05);
  --secondary-color: #ebdbb2;
  --accent-color: #fabd2f;
}

:focus {
  transition: none;
  outline: 2px solid var(--accent-color);
  outline-offset: 3px;
}

* {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 900;
  transition: all 0.5s ease;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: var(--backgorund-color);
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  max-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding-bottom: 3rem;
}

.results-container {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;

}

.display-box {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  color: var(--text-color);
  text-align: right;
  max-width: 100%;
}

#result {
  height: 5rem;
  font-weight: 900;
  font-size: 3rem;

}

#previous {
  height: 3rem;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap);
}

.row {
  display: flex;
  gap: var(--gap);
}

.btn {
  font-size: calc(var(--btn-size) * 0.4);
  width: var(--btn-size);
  height: var(--btn-size);
  border-radius: calc(var(--btn-size) * 0.2);
  border: none;
  outline: none;
  background-color: var(--main-color-5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5), inset 3px 3px 5px rgba(255, 255, 255, 0.1);
}

.btn:active {
  background-color: var(--accent-color);
  color: var(--backgorund-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5), inset 3px 3px 5px rgba(255, 255, 255, 0.3), inset -3px -3px 5px rgba(0, 0, 0, 0.3);
  transform: scale(0.95);
}

.btn:hover {
  cursor: pointer;
}

.number {
  color: var(--text-color);
}

.equal {
  background-color: var(--main-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5), inset 3px 3px 5px rgba(255, 255, 255, 0.3);
  color: var(--backgorund-color);
  width: calc(var(--btn-size) * 2 + calc(var(--btn-size) / 4));
}

.equal:active {
  background-color: var(--accent-color);
  transform: scale(0.98);
}

.btn.clear {
  color: var(--main-color);
}

.btn.clear:active {
  color: var(--backgorund-color);
}

.operator {
  color: var(--secondary-color);
}

@media screen and (min-width: 600px) {
  :root {
    --btn-size: 5rem;
  }

  /* .btn {
        font-size: calc(100vh / 30);
        width: calc((100vh / 7) - 2rem);
        height: calc((100vh / 7) - 2rem);
        border-radius: calc(100vh / 35);
    }

    #equal {
        width: calc((100vh / 7) * 2 - 3rem);
    } */

  @media screen and (max-height: 600px) {
    :root {
      --btn-size: 3rem;
    }

    .container {
      width: 80%;
      flex-direction: row;
      align-items: flex-start;
      padding-bottom: 2rem;
    }

    .display-box {
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0 1rem;
    }

    /* .btn {
            font-size: calc(100vh / 20);
            width: calc((100vh / 5) - 2rem);
            height: calc((100vh / 5) - 2rem);
            border-radius: calc(100vh / 25);
        }

        #equal {
            width: calc((100vh / 5) * 2 - 3rem);
        } */

  }
}

.back {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 1rem;
  left: 1rem;
  font-size: 1.5rem;
  font-weight: 900;
  text-decoration: none;
  border-radius: 2px;
  padding: 0.5rem;
  color: var(--text-color);
  border: 2px solid var(--text-color);
  border-radius: calc(var(--btn-size) * 0.2);
  aspect-ratio: 1/1;
  width: 2rem;
  height: 2rem;
}