@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
}

body {
  background-color: antiquewhite;
}

.container {
  margin: 0 auto;
  padding: 1rem;
}

.header {
  padding: 1rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
}

form input {
  background-color: antiquewhite;
  padding: 0.5rem 1rem;
  border: 1px solid saddlebrown;
  border-radius: 5px;
  font-size: large;
  text-align: center;
  flex-grow: 1;
}

.group { 
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

#interes-group {
  display: flex;
}

.btn {
  background-color: saddlebrown;
  color: antiquewhite;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: large;
  cursor: pointer;
}

.btn:hover {
  background-color: #8b4513;
}

.disabled {
  opacity: 0.5;
  background-color: wheat;
  cursor: not-allowed;
}

@media screen and (min-width: 768px) {
  .group {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: start;
  }
}